@import "tailwindcss";
body{
  background:  url("/img/Adventour.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: lendingPage 2s ease-in-out;
 
}

@keyframes lendingPage{
  0% {background-position: 100% top;}


100%{background-position: 100% 100%;}
}