.btnAdminMedia{
   color: white;
}
.imgGallery{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.videoGallery{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.breakWord{
   word-break: break-word;
   overflow-wrap: break-word;
   line-height: 3;
   font-weight: 500;
}