.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid gray;
  padding: 1rem;
  border-radius: 0.5rem;
  min-height: 420px; /* Einheitliche Höhe */
  background-color: #e2de9d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem auto;
  align-items: center;
}
p{
 text-wrap: wrap;
 max-width: 20rem;
 text-align: center;
}
/* main {
  background-color: rgba(148, 93, 31, 0.932);
} */
.btn-card {
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.edit{

 background-color: #0c922d; /* Green */
}
.delete{
  background-color: #f44336; /* Red */
 
}
.add{
  background-color: #008CBA; /* Blue */
}
.save{
  background-color: darkorchid;
}
.adminTripCardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 10px;
   
}
.adminTripCard{
    flex-basis:fit-content;
    display: flex;
    width:30rem ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgb(224, 218, 218);
  
}
