.glassTrip{
    background: rgba(23, 73, 26, 0.4);
    border-radius: 0.4rem;
    padding: 0;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 4px solid rgba(157, 185, 185, 0.856);
    transition: transform 0.3s;
    font-weight: 500;
    
}
button{
    background: rgba(23, 73, 26, 0.4);
    border-radius: 0.4rem;
    padding: 0.2rem 0.6rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 4px solid rgba(157, 185, 185, 0.856);
    transition: transform 0.3s;
    font-weight: 500;
}
button:hover{
    transform: scale(1.05);
}


